.image_modal_addcomment_form-container {

	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.image_modal_addcomment_form-input {
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 10px 0;
	padding-left: 11px;
	width: 600px;
	height: 30px;
}

.image_modal_addcomment_form-button {
	color: white;
	background: #4997D0;
	outline: none;
	border: none;
	border-radius: 3px;
	margin: 10px 0;
	height: 30px;
	width: 600px;
}
.image_modal_addcomment_form-button:hover {
	background: blueviolet;
}
@media screen and (max-width: 500px) {
	.image_modal_addcomment_form-container{
		align-items: center;
	}
	.image_modal_addcomment_form-input{
		width: 80vw;
		height: 40px;
	}
	.image_modal_addcomment_form-button{
		width: 80vw;
		height: 40px;
	}
}
